*{
    margin:0;
    padding:0;
}
nav{
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
nav>.logo-link{
    text-decoration:none;
}
.logo{
    margin:50px 0;
    font-family:'Poppins', sans-serif;
    font-weight:bold;
    font-size:50px;
    display:flex;
    align-items:center;
    color:black;
}
.logo:hover{
    text-decoration:underline;
}
.username-form>form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:Center;
}
form>label{
    font-size:30px;
}
.search-field-container>#username{
    border-radius:5px;
    padding:5px;
    width:400px;
    height:25px;
    margin-right:10px;
}
.search-field-container>button{
    width:75px;
    height:40px;
    padding:5px;
    border-radius:5px;
    background-color:white;
    cursor:pointer;
    box-shadow:0 0 1px black;
    border:1px solid black;
}
.search-field-container>button:hover{
    background-color:rgb(245, 244, 239);
}
.user-data-container{
    margin-top:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:Center;
}
.avatar-img{
    width:150px;
    border-radius:50%;
    margin-left:20px;
}
.avatar-name-container{
    margin:50px 0;
    display:flex;
    align-items:center;
    gap:20px;
}
.options-stats{
    display:flex;
    flex-direction:column;
}
.options-stats>div{
    display:flex;
    align-items:center;
}
.avatar-name-container>.name{
    font-size:30px;
}
.date-info{
    margin:10px;
}
.user-bio{
    font-size:large;
    width:1000px;
    text-align:center;
}
.user-data-container>a{
    margin-top:10px;
    text-decoration:none;
    color:black;
    padding:10px;
    box-shadow:0 0 1px black;
    border-radius:5px;
}
.user-data-container>a:hover{
    background-color:rgb(245, 244, 239);
}
.data-navbar{
    display:flex;
}
.data-navbar-links{
    text-decoration:none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
}
.data-navbar-links:hover{
    text-decoration:underline;
}
.details-stats-container{
    width:150px;
    height:150px;
    display:flex;
    flex-direction:column;
    align-items:Center;
    /* justify-content:center; */
    margin-top:30px;
}
.all-stats-container{
    display:flex;
    justify-content:space-around;
    width:75%;
    /* margin:20px; */
}
.details-stats-container>div{
    font-size:20px;
    margin-bottom:10px;
}
.details-stats-container>.count{
    font-size:30px;
    color:blue;
    font-weight:bold;
}

.repo-count{
    display:flex;
    flex-direction:column;
    align-items:Center;

}
.repo-count>.title{
    font-size:30px;
}
.repo-count>.count{
    font-size:50px;
    color:blue;
    font-weight:bold;
}
.all-repos{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:50px;
    row-gap: 75px;
    padding:0 200px;
    grid-auto-rows: minmax(60px, auto);
    margin-bottom:100px;
}
.all-repos>a{
    text-decoration:none;
    color:black;
}
.each-repo{
    display:flex;
    height:100%;
    flex-direction:column;
    padding:20px;
    border:1px solid rgb(167, 166, 166);
    border-radius:8px;
    box-shadow:0 0 1px black;
    justify-content:space-between;
    background-color:#F0F0F0;
    color:#4B5563;
}
.each-repo:hover{
    box-shadow:1px 1px 1px black;
}
.each-repo>.name{
    font-weight:bold;
    font-size:20px;
}
.each-repo>div{
    display:flex;
    gap:20px;
}
.each-repo>div>p{
    display:flex;
    align-items:center;
}
.all-analysis{
    display:flex;
    width:800px;
    justify-content:space-between;
    padding:25px 100px;
    flex-wrap:wrap;
}
.analysis-repo-most>a{
    text-decoration:none;
    color:black;
}
.most-repo-analysis{
    display:flex;
}
.top-languages-container{
    display:flex;
    flex-direction:column;
    align-items:Center;
}
.top-language-each{
    width:300px;
    height:40px;
    margin:5px;
    border:1px solid grey;
    font-weight:bold;
    font-size:30px;
    padding:10px;
    border-radius:8px;
    background-color:#F0F0F0;
    color:#4B5563;
    display:flex;
    justify-content:space-between;
}
.top-language-each>div{
    margin-right:15px;
}
.top-languages-container>h3{
    font-size:1.5rem;
}
.top-language-each:hover{
    box-shadow:1px 1px 1px black;
}
.data-container-forks-stars{
    display:flex;
}
.data-container-forks-stars>div{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    border-radius:8px;
    background-color:#F0F0F0;
    color:#4B5563;
    padding:30px;
    width:130px;
    height:130px;
    margin:5px;
    font-weight:bold;
    border:1px solid black;
}
.data-container-forks-stars>div:hover{
    box-shadow:1px 1px 1px black;
}
.data-container-forks-stars>div>.title{
    font-size:20px;
    text-align:center;
}
.data-container-forks-stars>div>.count{
    font-size:40px;
    padding-bottom:20px;
}
.most-repo-analysis{
    display:flex;
    margin-top:50px;
    width:100%;
    justify-content:space-between;
    margin-bottom:200px;
    text-align:center;
}
.most-repo-analysis>div>h3{
    font-size:1.5rem;
}


